{% extends 'userside/baseuser.html' %}
{% load static %}
{% block content1%} cart {% endblock content1 %}
{% block content %}

<div id="site-main" class="site-main">
    <div id="main-content" class="main-content">
        <div id="primary" class="content-area">
            <div id="title" class="page-title">
                <div class="section-container">
                    <div class="content-title-heading">
                        <h1 class="text-title-heading">
                            Shopping Cart
                        </h1>
                    </div>
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><span class="delimiter"></span><a href="shop-grid-left.html">Shop</a><span class="delimiter"></span>Shopping Cart
                    </div>
                </div>
            </div>
             
            <div id="content" class="site-content" role="main">
                <div class="section-padding">
                    <div class="section-container p-l-r">
                       

                        <div class="shop-cart">	
                            <div class="row">
                                <div class="col-xl-8 col-lg-12 col-md-12 col-12">
                                   
                                    <form class="cart-form" action="#" method="post">
                                        {% csrf_token %}
                                      
                                        <div class="table-responsive">
                                            
                                            <table class="cart-items table" cellspacing="0">
                                              
                                                <thead>
                                                    <tr>
                                                        <th class="product-thumbnail">product</th>
                                                        <th class="product-price">Price</th>
                                                        <th class="product-quantity">Quantity</th>
                                                        <th class="product-subtotal">Subtotal</th>
                                                        <th class="product-remove">&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in cart_item %}
                                                    <tr class="cart-item">	
                                                        <td class="product-thumbnail">
                                                            <a href="shop-details.html">
                                                                <img width="600" height="600" src="{{i.product.image_set.first.image.url}}" class="product-image" alt="">
                                                            </a>
                                                            					
                                                            <div class="product-name">
                                                                <a href="shop-details.html">{{i.product.products_name}}</a>								
                                                            </div>
                                                        </td>
                                                      
                                                        <td class="product-price">
                                                            <span class="price">${{i.product.price}}</span>
                                                        </td>
                                                        <td class="product-quantity">
                                                            <div class="quantity d-flex justify-content-between border border-1">
                                                                <button type="button" class="minus" onclick="cartQuantity(-1, {{ i.id }}, '{{ i.quantity }}')">-</button>	
                                                                <span class="num-{{i.id}}">{{i.quantity}}</span>
                                                                <button type="button" class="plus" onclick="cartQuantity(1, {{ i.id }}, '{{ i.quantity }}')" >+</button>
                                                            </div>
                                                        </td>
                                                        <td class="product-subtotal-{{i.id}}">
                                                            <span>{{i.cart_price}}</span>
                                                        </td>
                                                        <td class="product-remove">
                                                            <h3><button type="button" class="button_1 ms-3 border-0"  onclick="confirmDelete(this)" data-item-id="{{ i.id }}" href="#">remove</button></h3>
                                                        </td>
                                                    </tr>
                                                    {% endfor %} 
                                                    <tr>
                                                        <td colspan="6" class="actions">
                                                            <div class="bottom-cart">
                                                                <div class="coupon">
                                                                    <input type="text" name="coupon_code" class="input-text" id="coupon-code" value="" placeholder="Coupon code"> 
                                                                    <button type="submit" name="apply_coupon" class="button" value="Apply coupon">Apply coupon</button>
                                                                </div>
                                                                <h2><a href="shop-grid-left.html">Continue Shopping</a></h2>
                                                                <button type="submit" name="update_cart" class="button" value="Update cart">Update cart</button>
                                                            </div>	
                                                        </td>
                                                    </tr>
                                                 
                                                </tbody>
                                              
                                            </table>
                                           
                                        </div>
                                    </form>
                                   
                                </div>

                              

                                <div class="col-xl-4 col-lg-12 col-md-12 col-12">
                                    <div class="cart-totals">
                                        <h2>Cart totals</h2>
                                            <div class="order-total">
                                                <div class="title">Total</div>
                                                <div><span class="ord-total">{{total}}</span></div>
                                            </div>
                                        <div class="proceed-to-checkout">		
                                            <a href="../../checkout/{{cart_item.id}}" class="checkout-button button">
                                                Proceed to checkout
                                            </a>
                                        </div>
                                    </div>
                                </div>

    

                            </div>
                        </div> 
                    </div>
                </div>
            </div><!-- #content -->
        </div><!-- #primary -->
    </div><!-- #main-content -->
</div>

{% comment %} 
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <p style="font-size: 18px; margin-bottom: 10px;">Your cart is currently empty.</p>
    <a href="shop-grid-left.html" style="text-decoration: none; background-color: #3498db; color: #fff; padding: 8px 16px; border-radius: 4px;">Return to shop</a>
</div> {% endcomment %}



{% block contentscript%}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function getCSRFToken() {
     return document.querySelector('input[name=csrfmiddlewaretoken]').value;
    }
   
    function cartQuantity(change, productId, quantity) {
     var c = change
     var p = productId
     var e = quantity
     console.log(c)
     console.log(p)
     console.log(e)
     $.ajax({
      url: '/updateCart',
      type: 'POST',
      encocded:true,
      data:{
       change: c,
       productId: p,
       quantity: e
      },
  
      headers: {
       'X-CSRFToken': getCSRFToken() // Include the CSRF token in the request header
      },
      success: function(data) {
       // Handle the response from the server
       console.log(data);
   
       // Update the displayed quantity based on the server response
       var newQuantity = data.updatedQuantity;
       var totalPrice = parseInt(data.prodTotal, 10);
       var total = data.totalCartPrice;
  
       // Find the <span> element with class "num" and update its content
        $(`.num-${productId}`).text(newQuantity);
        $(`.product-subtotal-${productId}`).text(totalPrice);
        $(`.ord-total`).text(total);

      },
      error: function(error) {
       console.error('Error:', error);
      }
     });
    }
</script>  

<!-- SweetAlert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function confirmDelete(button) {
     const itemId = button.getAttribute('data-item-id');
     Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#1d4289',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        // User confirmed the deletion, proceed with the AJAX request to remove the item
        $.ajax({
          type: 'POST',
          url: '/item_remove',
          data: {
            item_id: itemId,
            csrfmiddlewaretoken: getCookie('csrftoken')
          },
          success: function(data) {
            console.log('Item removed successfully.');
            location.reload(); // Reload the page
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.error('Error removing item:', errorThrown);
          }
        });
      }
    });
  }
  
    
    // Function to get the CSRF token from cookies
    function getCookie(name) {
     const value = `; ${document.cookie}`;
     const parts = value.split(`; ${name}=`);
     if (parts.length === 2) return parts.pop().split(';').shift();
    }
    
</script>

 {% endblock contentscript %}


{% endblock content%}