{% extends 'userside/baseuser.html' %}
{% load static %}
{% block style %}
<style>
/* Custom CSS for border and text color */
.card-body {
    border-color: rgba(0, 128, 0, 0.5); 
    color: black; 
}
.custom-dark-bg {
    background-color:  #dba3a33d; /* Adjust the color code as needed */
    color: #fff; /* Text color for better visibility */
  }
</style>
{% endblock style %}
{% block content1%} checkout{% endblock content1 %}
{% block content %}

<div id="site-main" class="site-main">
    <div id="main-content" class="main-content">
        <div id="primary" class="content-area">
            <div id="title" class="page-title">
                <div class="section-container">
                    <div class="content-title-heading">
                        <h1 class="text-title-heading">
                            Checkout
                        </h1>
                    </div>
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><span class="delimiter"></span><a href="shop-grid-left.html">Shop</a><span class="delimiter"></span>Shopping Cart
                    </div>
                </div>
            </div>
            <!--================ Coupon Area =================-->
          <h4 class="col_md-2 ml-4">COUPONS</h4>
          <div class="col-md-4 border border-dark border-1 p-4 ml-4 mb-5 custom-dark-bg">
              <div class="d-flex align-items-center justify-content-between">
                  <h5 class="mr-2 text-black mb-1"><i class='fas fa-tag mt-1' style='font-size:20px'></i> Apply Coupon</h5>
                  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                      Apply
                  </button>
              </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">COUPONS</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method='POST'>
                    {% csrf_token %}
                  <input type="text" id="couponCode" name="couponCode" class="form-control" placeholder="Enter coupon code"/>
                  <a class="" href="#" onclick="applyCoupon(event)"><button class="btn btn-success ml-3 mt-3 mr-3">APPLY</button></a>
                  <a class="" href="#" onclick="removeCoupon(event)"><button class="btn btn-danger mt-3 mr-3">REMOVE</button></a> 
                  <span id="couponError" class="text-danger"></span>

                </form>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>coupon</th>
                      <th>CODE</th>
                    </tr>
                  </thead>
]                  <tbody>
                    {% for coupon in coupons %}
                    <tr>
                      <td>{{coupon.name}}</td>
                      <td>{{coupon.code}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <span id="couponError" class="text-danger"></span>


            <div id="content" class="site-content" role="main">
                <div class="section-padding">
                    <div class="section-container p-l-r">
                        <div class="shop-checkout">
                             <a href="{% url 'addAddress' %}"> <button class="btn btn-success mb-4">Add Address</button></a>
                                <div class="row">
                                    
                                    <form class="col-xl-8 col-lg-7 d-flex flex-column  col-md-12 col-12">
                                       
                                        <div class=" mb-3 col-xl-12 col-lg-12 " >
                                            {% for address in addresses %}
                                                <div class="form-check address-item card-body" style='border: 1px solid rgba(0,0,0,.125);'>
                                                    <div class='p-3'>
                                                    <input type="radio" class="form-check-input" id="address_{{ address.id }}" name="selected_address" value="{{ address.id }}" {% if forloop.first %}checked{% endif %}>
                                                    <label class="form-check-label" for="address_{{ address.id }}"  style='margin-left:30px!important;'>
                                                        <strong>Name:</strong> {{address.name}}<br>
                                                        {{address.street_address}}<br>
                                                        {{address.city}},{{address.state}}- {{address.pin_code}}<br>
                                                        Phone: {{address.phone}}<br>    
                                                        <button type="button" class="btn btn-outline-secondary mt-2">
                                                            <a href="../editAddress/{{ address.id }}" class="edit" style="text-decoration: none; color: inherit;">
                                                                Edit
                                                            </a>
                                                        </button>                            
                                                        </button>
                                                    </label>
                                                    </div>
                                                </div>
                                                
                                            {% endfor %}
                                        </div>
                                        
                                    </form>

                                    

                                    <div class="col-xl-4 col-lg-5 col-md-12 col-12">
                                        <div class="checkout-review-order">
                                            <div class="checkout-review-order-table">
                                                <div class="review-order-title">Product</div>
                                                <div class="cart-items">
                                                    {% for item in cart_items %}
                                                    <div class="cart-item">
                                                        <div class="info-product">
                                                            {% comment %} <div class="product-thumbnail">
                                                                <img width="600" height="600" src="media/product/3.jpg" alt="">					
                                                            </div> {% endcomment %}
                                                            <div class="product-name">
                                                               product:{{item.product.products_name}}
                                                                <strong class="product-quantity">quantity:{{item.quantity}}</strong>											
                                                            </div>
                                                        </div>
                                                        <div class="product-total">
                                                            <span>${{item.product.price}}</span>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                    {% comment %} <div class="cart-item">
                                                        <div class="info-product">
                                                            <div class="product-thumbnail">
                                                                <img width="600" height="600" src="{% static "media/product/1.jpg" %}" alt="">					
                                                            </div>
                                                            <div class="product-name">
                                                                Zunkel Schwarz
                                                                <strong class="product-quantity">QTY : 1</strong>											
                                                            </div>
                                                        </div>
                                                        <div class="product-total">
                                                            <span>$180.00</span>
                                                        </div>
                                                    </div> {% endcomment %}
                                                </div>
                                                <div class="cart-subtotal">
                                                    <h2>Subtotal</h2>
                                                    <div class="subtotal-price">
                                                        <span>${{total}}</span>
                                                    </div>
                                                </div>
                                                <div class="shipping-totals shipping">
                                                    <h2>Shipping</h2>
                                                    <div data-title="Shipping">
                                                        <ul class="shipping-methods custom-radio">
                                                            <li>
                                                                <input type="radio" name="shipping_method" data-index="0" value="free_shipping" class="shipping_method" checked="checked"><label>Free shipping</label>
                                                            </li>
                                                            {% comment %} <li>
                                                                <input type="radio" name="shipping_method" data-index="0" value="flat_rate" class="shipping_method"><label>Flat rate</label>					
                                                            </li> {% endcomment %}
                                                        </ul>
                                                    </div>
                                                </div>

                                                
                                               
                                                <div class="order-total">
                                                    <h2>Total</h2>
                                                    <div class="total-price" id="total1">
                                                        <strong>
                                                            <span>${{total}}</span>
                                                        </strong> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="payment" class="checkout-payment">
                                                <ul class="payment-methods methods custom-radio">
                                                    <li class="payment-method">
                                                        <input type="radio" class="input-radio" name="payment_method" value="Razorpay" checked="checked">
                                                        <label for="payment_method_bacs">Razor pay</label>
                                                        <div class="payment-box">
                                                            <p>Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                                                        </div>
                                                    </li>
                                                    <li class="payment-method">
                                                        <input type="radio" class="input-radio" name="payment_method" value="Wallet">
                                                        <label>Wallet</label>
                                                        <div class="payment-box">
                                                        </div>
                                                    </li> 
                                                    <li class="payment-method">
                                                        <input type="radio" class="input-radio" name="payment_method" value="cod" checked>
                                                        <label>Cash on delivery</label>
                                                        <div class="payment-box">
                                                            <p>Pay with cash upon delivery.</p>
                                                        </div>
                                                    </li>
                                                    {% comment %} <li class="payment-method">
                                                        <input type="radio" class="input-radio" name="payment_method" value="paypal">
                                                        <label>PayPal</label>
                                                        <div class="payment-box">
                                                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                        </div>
                                                    </li> {% endcomment %}
                                                </ul>
                                                <div class="form-row place-order">
                                                    <div class="terms-and-conditions-wrapper">
                                                        <div class="privacy-policy-text"></div>
                                                    </div>
                                                    <button type="" id="placeOrderButton"  class="button alt" name="checkout_place_order" value="Place order">Place order</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div><!-- #content -->
        </div><!-- #primary -->
    </div><!-- #main-content -->
</div>

{% block contentscript%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>    
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>

    $(document).ready(function() {
        $("#placeOrderButton").off("click").on("click", function(event) {
            event.preventDefault(); // Prevent default form submission
    
          console.log("Button Clicked!");

          // Your existing code
          console.log("clicked");
          var address = $("input[name=selected_address]:checked").val();
          var total = $("#total1").text();
          var payment = $("input[name=payment_method]:checked").val();
          console.log('button clicked');
          console.log(address, "address");
          var cartIsEmpty =  {% if cart_items %}false{% else %}true{% endif %};

          if (cartIsEmpty) {
            alert("Your cart is empty. Please add items to your cart before placing an order.");
            return;   
          }
            
            console.log('Before AJAX request');
            // Get the CSRF token
            var csrf_token = $("[name=csrfmiddlewaretoken]").val();

            // Send the data using jQuery AJAX
            if (payment === "Razorpay") {

                $.ajax({
                    method: "GET",
                    url: "/procceed_to_pay",
                    success:function(response){

                        var options = {
                            "key": "rzp_test_LWQdkfQTzRGUBJ", // Enter the Key ID generated from the Dashboard
                            "amount":response.total_price*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                            "currency": "INR",
                            "name": "Ruper", //your business name
                            "description": "Thank you for buting from us",
                            "image": "https://example.com/your_logo",
                    //      "order_id": "order_9A33XWu170gUtm", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                            "handler": function  (responseb){
                                $.ajax({
                                    type: "POST",
                                    url: "/place_order/",
                                    data: {
                                        total: total,
                                        address: address,
                                        payment: payment,
                                        csrfmiddlewaretoken: csrf_token,
                                    },
                                    success: function(response) {
                                        console.log("entered");
                                        if (response && response.success === true) {
                                            console.log("order_success");
                                        
                                        // Check if the payment method is Razorpay
                                           location.reload(true);

                                            // Redirect to the success page for other payment methods
                                            window.location.href = '/order_success/';
                                        
                                        } 
                                        else{
                                        alert(" stock is not available")
                                    }
                                    }
                                });
                            
                            },
                            "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
                                "name": response.name, //your customer's name
                                "email": response.email, 
                                "contact": response.contact  //Provide the customer's phone number for better conversion rates 
                            },
                            
                            "theme": {
                                "color": "#3399cc"
                            }
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.open();


                    }
                })

                
            }
            else if (payment == "cod"){
            $.ajax({
                type: "POST",
                url: "/place_order/",
                data: {
                    total: total,
                    address: address,
                    payment: payment,
                    csrfmiddlewaretoken: csrf_token,
                },
                success: function(response) {
                    console.log("entered");
                    if (response && response.success === true) {
                        console.log("order_success");
                        
                        // Check if the payment method is Razorpay
                            location.reload(true);
                            // Redirect to the success page for other payment methods
                            window.location.href = '/order_success/';
                        
                    } 
                    else{
                        alert(" stock is not available")
                    }
                }
            });

            }
            else if (payment="Wallet"){
                $.ajax({
                    type: "POST",
                    url: "/place_order/",
                    data: {
                        total: total,
                        address: address,
                        payment: payment,
                        csrfmiddlewaretoken: csrf_token,
                    },
                    success: function(response) {
                        console.log("entered");
                        if (response && response.success === true) {
                            console.log("order_success");
                            
                            // Check if the payment method is Razorpay
                                location.reload(true);
                                // Redirect to the success page for other payment methods
                                window.location.href = '/order_success/';
                            
                        } 
                        else{
                            alert(" stock is not available or not enough money in wallet")
                        }
                    }
                });
            }

    console.log('After AJAX request');



           
        });
  });
 
</script>

<script>
    // Check if the page has been reloaded before
    var hasReloaded = document.cookie.indexOf('reloadFlag=1') !== -1;

    // Reload the entire page if it hasn't been reloaded before
    if (!hasReloaded) {
        // Set a cookie to track that the page has been reloaded
        document.cookie = 'reloadFlag=1; max-age=3600';  // Set an expiry time (e.g., 1 hour)

        // Reload the page
        location.reload(true);  // The true parameter forces a reload from the server
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script >
    function getCSRFToken() {
        // Implement the logic to retrieve the CSRF token
        // This might involve selecting an input element or using a different method
        return document.querySelector('input[name="csrfmiddlewaretoken"]').value;
      }
    function applyCoupon(event) {
        event.preventDefault();

        console.log('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa');
        var couponCode = $('#couponCode').val();
        console.log(couponCode);

        $.ajax({
            url: '../../apply_coupon',
            type: 'POST',
            data: {
                couponCode: couponCode,
                csrfmiddlewaretoken: getCSRFToken()
            },
            success: function (data) {
                // Handle the response from the server, e.g., update total prices
                console.log(data);
                if ('error' in data) {
                    // Display the error message below the input field
                    $('#couponError').text(data.error);
                } else {
                    $('.coupon-discount').text(data.discount_amount);
                    console.log(data.discount_amount)
                    console.log(data.total)
                   
                    $('.total-price').text(data.total);
                    
                    // Clear the error message on success
                    $('#couponError').text('');
                    Swal.fire({
                        icon: 'success',
                        title: "Coupon Applied Successfully",
                        confirmButtonText: 'OK',
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error:', errorThrown,textStatus);

                $('#couponError').text('');
                Swal.fire({
                    icon: 'error',
                    title: "Error when applying coupon please try again",
                    confirmButtonText: 'OK',
                });
            }
        });
    }
    function removeCoupon(event) {
        event.preventDefault();

        var couponCode = $('#couponCode').val();
        console.log("clicked")
    
        $.ajax({
            url: '../../remove_coupon',
            type: 'POST',
            data: {
                couponCode: couponCode,
                csrfmiddlewaretoken: getCSRFToken()
            },
            success: function (data) {
                // Handle the response from the server, e.g., update total prices
                console.log(data);
    
                if ('error' in data) {
                    // Display the error message below the input field
                    $('#couponError').text(data.error);
                } else {
                    $('.coupon-discount').text(''); // Clear the coupon discount display
                    $('.total-price').text(data.total);
    
                    // Clear the error message on success
                    $('#couponError').text('');
                    Swal.fire({
                        icon: 'success',
                        title: "Coupon Removed Successfully",
                        confirmButtonText: 'OK',
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error:', errorThrown);
    
                // Display a generic error message below the input field
                $('#couponError').text('');
                Swal.fire({
                    icon: 'error',
                    title: "Error when removing coupon. please try again",
                    confirmButtonText: 'OK',
                });
            }
        });
    }
    
</script>


   

{% endblock contentscript%}



{% endblock content %}