{% extends 'userside/baseuser.html' %}
{% load static %}
{% block style %}
<style>
/* Custom CSS for border and text color */
.card-body {
    border-color: rgba(0, 128, 0, 0.5); 
    color: black; 
}
</style>
{% endblock style %}
{% block content1%} wishlist{% endblock content1 %}
{% block content %}

<div id="site-main" class="site-main">
    <div id="main-content" class="main-content">
        <div id="primary" class="content-area">
            <div id="title" class="page-title">
                <div class="section-container">
                    <div class="content-title-heading">
                        <h1 class="text-title-heading">
                            Checkout
                        </h1>
                    </div>
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><span class="delimiter"></span><a href="shop-grid-left.html">Shop</a><span class="delimiter"></span>Shopping Cart
                    </div>
                </div>
            </div>

            <div id="content" class="site-content" role="main">
                <div class="section-padding">
                    <div class="section-container p-l-r">
                        <div class="shop-checkout">
                             <a href="{% url 'addAddress' %}"> <button class="btn btn-success mb-4">Add Address</button></a>
                                <div class="row">
                                    
                                    <form class="col-xl-8 col-lg-7 d-flex flex-column  col-md-12 col-12">
                                       
                                        <div class=" mb-3 col-xl-12 col-lg-12 " >
                                            {% for address in addresses %}
                                                <div class="form-check address-item card-body" style='border: 1px solid rgba(0,0,0,.125);'>
                                                    <div class='p-3'>
                                                    <input type="radio" class="form-check-input" id="address_{{ address.id }}" name="selected_address" value="{{ address.id }}" {% if forloop.first %}checked{% endif %}>
                                                    <label class="form-check-label" for="address_{{ address.id }}"  style='margin-left:30px!important;'>
                                                        <strong>Name:</strong> {{address.name}}<br>
                                                        {{address.street_address}}<br>
                                                        {{address.city}},{{address.state}}- {{address.pin_code}}<br>
                                                        Phone: {{address.phone}}<br>    
                                                        <button type="button" class="btn btn-outline-secondary mt-2">
                                                            <a href="../editAddress/{{ address.id }}" class="edit" style="text-decoration: none; color: inherit;">
                                                                Edit
                                                            </a>
                                                        </button>                            
                                                        </button>
                                                    </label>
                                                    </div>
                                                </div>
                                                
                                            {% endfor %}
                                        </div>
                                        
                                    </form>

                                    <div class="col-xl-4 col-lg-5 col-md-12 col-12">
                                        <div class="checkout-review-order">
                                            <div class="checkout-review-order-table">
                                                <div class="review-order-title">Product</div>
                                                <div class="cart-items">
                                                    {% for item in cart_items %}
                                                    <div class="cart-item">
                                                        <div class="info-product">
                                                            {% comment %} <div class="product-thumbnail">
                                                                <img width="600" height="600" src="media/product/3.jpg" alt="">					
                                                            </div> {% endcomment %}
                                                            <div class="product-name">
                                                               product:{{item.product.products_name}}
                                                                <strong class="product-quantity">quantity:{{item.quantity}}</strong>											
                                                            </div>
                                                        </div>
                                                        <div class="product-total">
                                                            <span>${{item.product.price}}</span>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                    {% comment %} <div class="cart-item">
                                                        <div class="info-product">
                                                            <div class="product-thumbnail">
                                                                <img width="600" height="600" src="{% static "media/product/1.jpg" %}" alt="">					
                                                            </div>
                                                            <div class="product-name">
                                                                Zunkel Schwarz
                                                                <strong class="product-quantity">QTY : 1</strong>											
                                                            </div>
                                                        </div>
                                                        <div class="product-total">
                                                            <span>$180.00</span>
                                                        </div>
                                                    </div> {% endcomment %}
                                                </div>
                                                <div class="cart-subtotal">
                                                    <h2>Subtotal</h2>
                                                    <div class="subtotal-price">
                                                        <span>${{total}}</span>
                                                    </div>
                                                </div>
                                                <div class="shipping-totals shipping">
                                                    <h2>Shipping</h2>
                                                    <div data-title="Shipping">
                                                        <ul class="shipping-methods custom-radio">
                                                            <li>
                                                                <input type="radio" name="shipping_method" data-index="0" value="free_shipping" class="shipping_method" checked="checked"><label>Free shipping</label>
                                                            </li>
                                                            {% comment %} <li>
                                                                <input type="radio" name="shipping_method" data-index="0" value="flat_rate" class="shipping_method"><label>Flat rate</label>					
                                                            </li> {% endcomment %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="order-total">
                                                    <h2>Total</h2>
                                                    <div class="total-price" id="total1">
                                                        <strong>
                                                            <span>${{total}}</span>
                                                        </strong> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="payment" class="checkout-payment">
                                                <ul class="payment-methods methods custom-radio">
                                                    {% comment %} <li class="payment-method">
                                                        <input type="radio" class="input-radio" name="payment_method" value="bacs" checked="checked">
                                                        <label for="payment_method_bacs">Direct bank transfer</label>
                                                        <div class="payment-box">
                                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                                                        </div>
                                                    </li>
                                                    <li class="payment-method">
                                                        <input type="radio" class="input-radio" name="payment_method" value="cheque">
                                                        <label>Check payments</label>
                                                        <div class="payment-box">
                                                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                        </div>
                                                    </li> {% endcomment %}
                                                    <li class="payment-method">
                                                        <input type="radio" class="input-radio" name="payment_method" value="cod" checked>
                                                        <label>Cash on delivery</label>
                                                        <div class="payment-box">
                                                            <p>Pay with cash upon delivery.</p>
                                                        </div>
                                                    </li>
                                                    {% comment %} <li class="payment-method">
                                                        <input type="radio" class="input-radio" name="payment_method" value="paypal">
                                                        <label>PayPal</label>
                                                        <div class="payment-box">
                                                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                        </div>
                                                    </li> {% endcomment %}
                                                </ul>
                                                <div class="form-row place-order">
                                                    <div class="terms-and-conditions-wrapper">
                                                        <div class="privacy-policy-text"></div>
                                                    </div>
                                                    <button type="" id="placeOrderButton"  class="button alt" name="checkout_place_order" value="Place order">Place order</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div><!-- #content -->
        </div><!-- #primary -->
    </div><!-- #main-content -->
</div>

{% block contentscript%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

    $(document).ready(function() {
        $("#placeOrderButton").off("click").on("click", function(event) {
            event.preventDefault(); // Prevent default form submission
    
          console.log("Button Clicked!");

          // Your existing code
          console.log("clicked");
          var address = $("input[name=selected_address]:checked").val();
          var total = $("#total1").text();
          var payment = $("input[name=payment_method]:checked").val();
          console.log('button clicked');
          console.log(address, "address");

          console.log('Before AJAX request');
          // Get the CSRF token
          var csrf_token = $("[name=csrfmiddlewaretoken]").val();

          // Send the data using jQuery AJAX
          $.ajax({
              type: "POST",
              url: "/place_order/",
              data: {
                  total: total,
                  address: address,
                  payment: payment,
                  csrfmiddlewaretoken: csrf_token,
              },
              success: function(response) {
                  console.log("entered");
                  if (response && response.success === true) {
                      console.log("order_success");
                      window.location.href = '/order_success/';
                  } 
                  else{
                    alert(" stock is not available")
                }
              }
          });
          console.log('After AJAX request');
      });
  });
 
</script>

{% endblock contentscript%}



{% endblock content %}