<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OTP Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
	/* Custom Styles */
	.otp-container {
	  min-height: 800px; /* Increased height */
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	
	.otp-card {
	  width: 80%;
	  max-width: 500px;
	  padding: 50px;
	}
  
	/* Add space between input and button */
	.form-group {
	  margin-bottom: 50px; /* Adjust this value as needed */
	}
  </style>
  
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="otp-container">
          <div class="card otp-card">
            <div class="card-body">
              <h3 class="card-title text-center">Enter OTP</h3>
              <form id="otpForm" action = "{% url 'otp_verification' %}" method="POST"  >
                {% csrf_token %}
                <div class="form-group">
                  <label for="otpInput">OTP</label>
                  <input type="text" class="form-control" id="otpInput" placeholder="Enter OTP" name="entered_otp" required>
                  <center><div class="text-danger">{% if messages %}{% for message in messages  %} {{message}} {% endfor %}{% endif %}</div></center>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </form>

              <div class="timeforotp d-flex justify-content-center">
                <div id="countdown-timer" class="small" >
                   <span id="timer"></span>
                </div>
                    
                <div id="otp-expired-message"  class="small" style="display: none; color: red;">
                    <a class="small text-dark pt-2" href="{% url 'send_otp' %}" id="resendlink">Resend OTP</a>
                </div>
            </div>    


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var expirationTime = new Date("{{ expiration_time }}").getTime();
    let remainingtime = $("#timer");
    let resend = $("#resendlink");
    function UpdateOTPTimer() {
        var now = new Date().getTime(); 
        var timeDifference = Math.max(0, Math.floor((expirationTime - now) / 1000));
        console.log(timeDifference)
        

        if (timeDifference > 0) {
            let minutes = Math.floor(timeDifference / 60);
            let seconds = timeDifference % 60;

            let timerText = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
            remainingtime.text(timerText);
            $("#otp-expired-message").hide(); // Hide the message container
            remainingtime.show(); // Show the timer
    
        } else {
            remainingtime.hide();
            $("#otp-expired-message").show(); // Show the message container
          }

    }

    UpdateOTPTimer();
    setInterval(UpdateOTPTimer, 1000);

    $(document).ready(function () {
        $("form").on("submit", function (event) {
            var enteredOTP = $("#otpInput").val();
            var storedOTP = "{{ request.session.otp }}";

            if (enteredOTP !== storedOTP) {
                event.preventDefault();
                $(".error").text("Invalid OTP. Please try again.");
            }
        });
    });

</script>