{% extends 'userside/baseuser.html' %}
{% load static %}
{% block content1%} My Account {% endblock content1 %}
{% block content %}
<div id="site-main" class="site-main">

    <div id="main-content" class="main-content">
        <div id="primary" class="content-area">
            <div id="title" class="page-title">
                <div class="section-container">
                    <div class="content-title-heading">
                        <h1 class="text-title-heading">
                            {{products.products_name}}
                        </h1>
            </div>

            <div id="content" class="site-content" role="main">
                <div class="shop-details zoom" data-product_layout_thumb="scroll" data-zoom_scroll="true" data-zoom_contain_lens="true" data-zoomtype="inner" data-lenssize="200" data-lensshape="square" data-lensborder="" data-bordersize="2" data-bordercolour="#f9b61e" data-popup="false">	
                    <div class="product-top-info">
                        <div class="section-padding">
                            <div class="section-container p-l-r d-flex">
                                <div class="product-images col-lg-7 col-md-12 col-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="content-thumbnail-scroll">
                                                <div class="image-thumbnail slick-carousel slick-vertical" data-asnavfor=".image-additional" data-centermode="true" data-focusonselect="true" data-columns4="5" data-columns3="4" data-columns2="4" data-columns1="4" data-columns="4" data-nav="true" data-vertical="&quot;true&quot;" data-verticalswiping="&quot;true&quot;">
                                                    {% for image in products.image_set.all%}
                                                    <div class="img-item slick-slide">
                                                        <span class="img-thumbnail-scroll">
                                                            <img width="600" height="600" src="{{image.image.url}}" alt="">
                                                        </span>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>                                      
                                            <div class="col-md-10">
                                                <div class="scroll-image main-image">
                                                    <div class="image-additional slick-carousel" data-asnavfor=".image-thumbnail" data-fade="true" data-columns4="1" data-columns3="1" data-columns2="1" data-columns1="1" data-columns="1" data-nav="true">
                                                        {% for image in products.image_set.all %}
                                                        <div class="img-item slick-slide">
                                                            <!-- Use 'data-zoom-image' attribute to specify the larger image URL for zoom -->
                                                            <img width="900" height="900" src="{{ image.image.url }}" alt="" data-zoom-image="{{ image.image.url }}">
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                    <div class="product-info col-lg-5 col-md-12 col-12 ">
                                        <h1 class="title">{{products.products_name}}</h1>
                                        <span class="price">
                                            {% comment %} <del aria-hidden="true"><span>$100.00</span></del>  {% endcomment %}
                                            <ins><span>{{products.price}}</span></ins>
                                        </span>
                                        <div class="rating">
                                            <div class="star star-5"></div>
                                            <div class="review-count">
                                                (3<span> reviews</span>)
                                            </div>
                                        </div>
                                        {% comment %} <div class="description">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div> {% endcomment %}
                                        
                                        <div class="buttons">
                                            <div class="buttons">
                                                <div class="add-to-cart-wrap">
                                                    <div onclick="addToCart({{products.id}})"class="btn btn-dark" style="width: 450px; text-align: center;">
                                                        <a 
                                                            class="button text-white" tabindex="0"> Add To
                                                            Cart
                                                        </a>
                                                    </div>

                                                </div>
                                            {% comment %} {% comment %} <div class="btn-quick-buy" data-title="Wishlist">
                                                <a href="#" class="product-btn">Buy It Now</a>
                                            </div> {% endcomment %}
                                            {% comment %} <div class="btn-wishlist" data-title="Wishlist">
                                                <a href="#" class="product-btn">Add to wishlist</a>
                                            </div>
                                            <div class="btn-compare" data-title="Compare">
                                                <a href="#" class="product-btn">Compare</a>
                                            </div> {% endcomment %} 
                                        </div>
                                        
                                        
                                        <div class="product-meta">
                                            <span class="sku-wrapper">SKU: <span class="sku">D2300-3-2-2</span></span>
                                            {% for category in  products.category_set.all%}
                                            <span class="posted-in">Category: <a href="" rel="tag"></a>{{category.category.name}}</span>
                                            {% endfor %}
                                            <span class="tagged-as">Tags: <a href="" rel="tag">Hot</a>, <a href="" rel="tag">Trend</a></span>
                                        </div>
                                        <div class="social-share">
                                            <a href="#" title="Facebook" class="share-facebook" target="_blank"><i class="fa fa-facebook"></i>Facebook</a>
                                            <a href="#" title="Twitter" class="share-twitter"><i class="fa fa-twitter"></i>Twitter</a>
                                            <a href="#" title="Pinterest" class="share-pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
                                        </div>					
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                
                </div>
            </div><!-- #content -->
        </div><!-- #primary -->
        

    </div><!-- #main-content -->
</div>

{% endblock content %}


{% block contentscript%}




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

    function getCSRFToken() {
            return $('input[name="csrfmiddlewaretoken"]').val();
        }
        
    function addToCart(id) {
        var csrftoken = getCSRFToken();
        
        $.ajax({
            url: "/add_cart",
            method: "post",
            encoded:true,
            headers: { "X-CSRFToken": csrftoken }, // Set CSRF token in headers
            data: { id: id },
        }).done((data) => {
            if (data.success){
                alert("success")
            }
            else{
                alert("Already in Cart or stock is not available")
            }
            
        }).fail(() => {
            alert('An error occurred');
        });
    }
</script>



{% block contentscript1%}
<script src="{% static "libs/elevatezoom/js/jquery.elevatezoom.js" %}"></script>

{% endblock contentscript1%}

{% endblock contentscript%}