{% extends 'userside/baseuser.html' %}
{% load static %}
{% block content1%} Shop {% endblock content1 %}
{% block content %}
<div id="site-main" class="site-main">
    <div id="main-content" class="main-content">
        <div id="primary" class="content-area">
            <div id="title" class="page-title">
                <div class="section-container">
                    <div class="content-title-heading">
                        <h1 class="text-title-heading">
                             Shop	
                        </h1>
                    </div>
                    {% comment %} <div class="breadcrumbs">
                        <a href="index.html">Home</a><span class="delimiter"></span><a href="shop-grid-left.html">Shop</a><span class="delimiter"></span> Bed &amp; Bath
                    </div> {% endcomment %}
                </div>
            </div>

            <div id="content" class="site-content" role="main">
                <div class="section-padding">
                    <div class="section-container p-l-r">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-12 col-12 sidebar left-sidebar md-b-50">
                                <!-- Block Product Categories -->
                                <div class="block block-product-cats">
                                    <div class="block-title"><h2>Categories</h2></div>
                                    <div class="block-content">
                                        <div class="product-cats-list">
                                            <ul>
                                                {% comment %} <li class="current">
                                                    <a href="shop-grid-left.html">Bed & Bat <span class="count">9</span></a>
                                                </li> {% endcomment %}
                                                <li>
                                                    <a href="../../shop?categoryy=0">All Categories</a>                                                    </a>
                                                </li>
                                                {% for category in categories %}
                                                <li>
                                                    <a href="../../shop?categoryy={{category.id}}">{{ category.name }}
                                                        {% comment %} <span class="count">{{category.item_count}}</span> {% endcomment %}
                                                    </a>
                                                </li>
                                                {% comment %} <li>}}
                                                    <a href="shop-grid-left.html">Home Décor <span class="count">3</span></a>
                                                </li>
                                                <li>
                                                    <a href="shop-grid-left.html">Lighting <span class="count">6</span></a>
                                                </li>
                                                <li>
                                                    <a href="shop-grid-left.html">Office <span class="count">2</span></a>
                                                </li> {% endcomment %}
                                                {% comment %} <li>
                                                    <a href="shop-grid-left.html">Outdoor <span class="count">4</span></a>
                                                </li> {% endcomment %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Block Product Filter -->
                                {% comment %} <div class="block block-product-filter">
                                    <div class="block-title"><h2>Price</h2></div>
                                    <div class="block-content">
                                        <div id="slider-range" class="price-filter-wrap">
                                            <div class="filter-item price-filter">
                                                <div class="layout-slider">
                                                    <input id="price-filter" name="price" value="0;100" />
                                                </div>
                                                <div class="layout-slider-settings"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}

                                <!-- Block Product Filter -->
                               
                                <!-- Block Product Filter -->
                                {% comment %} <div class="block block-product-filter clearfix">
                                    <div class="block-title"><h2>Brands</h2></div>
                                    <div class="block-content">
                                        <ul class="filter-items image">
                                            <li><span><img src="{% static "media/brand/1.jpg" %}" alt="Brand"></span></li>
                                            <li><span><img src="{% static "media/brand/2.jpg" %}" alt="Brand"></span></li>
                                            <li><span><img src="{% static "media/brand/3.jpg" %}" alt="Brand"></span></li>
                                            <li><span><img src="{% static "media/brand/4.jpg" %}" alt="Brand"></span></li>
                                            <li><span><img src="{% static "media/brand/5.jpg" %}" alt="Brand"></span></li>
                                        </ul>
                                    </div>
                                </div> {% endcomment %}

                                <!-- Block Products -->
                                {% comment %} <div class="block block-products">
                                    <div class="block-title"><h2>Feature Product</h2></div>
                                    <div class="block-content">
                                        <ul class="products-list">
                                            <li class="product-item">
                                                <a href="shop-details.html" class="product-image">
                                                    <img src="{% static "media/product/6.jpg" %}">
                                                </a>
                                                <div class="product-content">
                                                    <h2 class="product-title">
                                                        <a href="shop-details.html">
                                                            Dining Table
                                                        </a>
                                                    </h2>
                                                    <div class="rating small">
                                                        <div class="star star-5"></div>
                                                    </div>
                                                    <span class="price">
                                                        <del aria-hidden="true"><span>$150.00</span></del> 
                                                        <ins><span>$100.00</span></ins>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="product-item">
                                                <a href="shop-details.html" class="product-image">
                                                    <img src="{% static "media/product/8.jpg" %}">
                                                </a>
                                                <div class="product-content">
                                                    <h2 class="product-title">
                                                        <a href="shop-details.html">
                                                            Spinning Pendant Lamp
                                                        </a>
                                                    </h2>
                                                    <div class="rating small">
                                                        <div class="star star-0"></div>
                                                    </div>
                                                    <span class="price">$120.00</span>
                                                </div>
                                            </li>
                                            <li class="product-item">
                                                <a href="shop-details.html" class="product-image">
                                                    <img src="{% static "media/product/9.jpg" %}">
                                                </a>
                                                <div class="product-content">
                                                    <h2 class="product-title">
                                                        <a href="shop-details.html">
                                                            Bora Armchair
                                                        </a>
                                                    </h2>
                                                    <div class="rating small">
                                                        <div class="star star-5"></div>
                                                    </div>
                                                    <span class="price">
                                                        <del aria-hidden="true"><span>$200.00</span></del> 
                                                        <ins><span>$180.00</span></ins>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> {% endcomment %}
                            </div>

                            <div class="col-xl-9 col-lg-9 col-md-12 col-12">
                                <div class="products-topbar clearfix">
                                    <div class="products-topbar-left">
                                        <div class="products-count">
                                        </div>
                                    </div>
                                    <div class="products-topbar-right">
                                        <div class="products-sort dropdown">
                                            <span class="sort-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true">sorting</span>
                                            <ul class="sort-list dropdown-menu" x-placement="bottom-start">
                                                <li><a href="../../shop?sort=price_low_to_high">Sort by price: low to high</a></li>
                                                <li><a href="../../shop?sort=price_high_to_low">Sort by price: high to low</a></li>
                                            </ul>
                                        </div>
                                        {% comment %} <ul class="layout-toggle nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="layout-grid nav-link active" data-toggle="tab" href="#layout-grid" role="tab"><span class="icon-column"><span class="layer first"><span></span><span></span><span></span></span><span class="layer middle"><span></span><span></span><span></span></span><span class="layer last"><span></span><span></span><span></span></span></span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="layout-list nav-link" data-toggle="tab" href="#layout-list" role="tab"><span class="icon-column"><span class="layer first"><span></span><span></span></span><span class="layer middle"><span></span><span></span></span><span class="layer last"><span></span><span></span></span></span></a>
                                            </li>
                                        </ul> {% endcomment %}
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="layout-grid" role="tabpanel">
                                        <div class="products-list grid">
                                            <div class="row">
                                                {% for product in products%}
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                    <div class="products-entry clearfix product-wapper">
                                                        <div class="products-thumb">
                                                            <div class="product-lable">
                                                                <div class="hot">Hot</div>
                                                            </div>
                                                            <div class="product-thumb-hover">
                                                                <a href="../../shopdetails/{{product.id}}">
                                                                    <img width="600" height="600" src="{{product.image_set.first.image.url}}" class="post-image" alt="">
                                                                    <img width="600" height="600" src="{{product.image_set.first.image.url}}" class="hover-image back" alt="">
                                                                </a>
                                                            </div>		
                                                           
                                                        </div>
                                                        <div class="products-content">
                                                            <div class="contents text-center">
                                                                    {% if product.product_offer == 0 %}
                                                                    <h3 class="product-title"><a href=>{{product.products_name}}</a></h3>
                                                                {% else %}
                                                                    <h3 class="product-title"><a href=>{{product.products_name}}- {{product.product_offer}}%OFF</a></h3>
                                                                {% endif %}

    
                                                                {% if product.product_offer == 0 %}
                                                                    <span class="price">₹{{product.price}}</span>
                                                                {% else %}
                                                                    <span class="price">₹{{product.discounted_price}}</span><br>
                                                                    <s class="price">₹{{product.price}}</s>

                                                                {% endif %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                               
                                    </div>
                                </div> 
                                {% comment %} {% for category in categories %} {% endcomment %}
                                <nav class="pagination">
                                    <ul class="page-numbers">
                                        {% if products.has_previous %}
                                        <li><a class="prev page-numbers" href="?page={{products.previous_page_number}}&categoryy={{cat}}&sort={{sort}}&search={{search}}">Previous</a></li>
                                        {% endif %}
                                        {% for i in products.paginator.page_range  %}
                                        {% if products.number == i %}
                                        <li><span aria-current="page" class="page-numbers current">{{i}}</span></li>
                                        {% else %}
                                        <li><a class="page-numbers" href="?page={{i}}&categoryy={{ cat }}&sort={{sort}}&search={{search}}">{{i}}</a></li>
                                        {% comment %} <li><a class="page-numbers" href="#">3</a></li> {% endcomment %}
                                        {% endif %}
                                        {% endfor %}

                                        {% if products.has_next %}
                                        <li><a class="next page-numbers" href="?page={{products.next_page_number}}&categoryy={{cat}}&sort={{sort}}&search={{search}}">Next</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% comment %} {% endfor %} {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #content -->
        </div><!-- #primary -->
    </div><!-- #main-content -->
</div>

{% endblock content %}