{% extends 'userside/baseuser.html' %}
{% load static %}
{% block content1%}signup {% endblock content1 %}
{% block content %}



			<div id="site-main" class="site-main">
				<div id="main-content" class="main-content">
					<div id="primary" class="content-area">
						<div id="title" class="page-title">
							<div class="section-container">
								<div class="content-title-heading">
									<h1 class="text-title-heading">
									 Register
									</h1>
								</div>
								<div class="breadcrumbs">
									<a href="index.html">Home</a><span class="delimiter"></span> Register
								</div>
							</div>
						</div>

						<div id="content" class="site-content" role="main">
							<div class="section-padding">
								<div class="section-container p-l-r">
									<div class="page-login-register">
										<div class="row justify-content-center">
											<div class="col-lg-6 col-md-6 col-sm-12">
												<div class="box-form-login">
													<h2 class="register">Register</h2>
													<div class="box-content">
														<div class="form-register">
															<form action="" method="POST" class="register1">
																{% csrf_token %}
																<div class="username">
																	<label>First Name <span class="required">*</span></label>
																	<input type="text" class="input-text" name="first_name" value="">
																	<span class="first_name-error error"></span>
																</div>
																<div class="email">
																	<label>Email address <span class="required">*</span></label>
																	<input type="email" class="input-text" name="email1" value="">
																	<span class="email-error error"></span>
																</div>
																<div class="phone">
																	<label>Phone number <span class="required">*</span></label>
																	<input type="text" class="input-text" name="phone1" value="">
																	<span class="phone-error error"></span>
																</div>
																<div class="password">
																	<label>Password <span class="required">*</span></label>
																	<input type="password" class="input-text" name="password1">
																	<span class="password-error error"></span>
																</div>

																<div class="referral-id">
																	<label>Referral ID (optional)</label>
																	<input type="text" class="input-text" name="referral_id" value="">
																</div>	

																<div class="confirm-password">
																	<label>Confirm Password <span class="required">*</span></label>
																	<input type="password" class="input-text" name="confirm_password1">
																	<span class="confirm-password-error error"></span>
																</div>
																<div class="button-register">
																	<input type="submit" class="button" id="registerButton" name="register" value="Register">	
																</div>
															</form>
															  {% if messages %}
                                                              	  <div class="messages">
                                                                      {% for message in messages %}
                                                                          <div class="text {% if message.tags == 'success' %}text-success{% else %}text-danger{% endif %}">
                                                                           {{ message }}
                                                                          </div>
                                                                      {% endfor %}
                                                                  </div>
                                                              {% endif %}

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						</div><!-- #content -->
					</div><!-- #primary -->
				</div><!-- #main-content -->
			</div>

			
		</div>

		{% comment %} <!-- Page Loader -->
		{% comment %} <div class="page-preloader">
	    	<div class="loader">
	    		<div></div>
	    		<div></div>
	    	</div>
	    </div> {% endcomment %}

	

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'libs/popper/js/popper.min.js' %}"></script>
<script src="{% static 'libs/jquery/js/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/slick/js/slick.min.js' %}"></script>
<script src="{% static 'libs/countdown/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'libs/mmenu/js/jquery.mmenu.all.min.js' %}"></script>
<script src="{% static "libs/slider/js/tmpl.js" %}"></script>
<script src="{% static "libs/slider/js/jquery.dependClass-0.1.js" %}"></script>
<script src="{% static "libs/slider/js/draggable-0.1.js" %}"></script>
<script src="{% static "libs/slider/js/jquery.slider.js" %}"></script>
		
		<!-- Site Scripts -->
<script src="{% static 'js/app.js' %}"></script>	 
<script>
	$(document).ready(function() {
		$('.register1').submit(function(e) {
			$('.error').html('');
			$('.input-text').removeClass('error-input');
	
			var first_name = $('input[name="first_name"]').val();
			var email = $('input[name="email1"]').val();
			var phone = $('input[name="phone1"]').val();
			var password = $('input[name="password1"]').val();
			var confirm_password = $('input[name="confirm_password1"]').val();
	
			var usernameRegex = /^[a-zA-Z0-9_]{3,16}$/;
			var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
			var phoneRegex = /^\d{10}$/;
			var passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/; // At least one letter and one number, minimum 8 characters
	
			var errorsFound = false;
	
			if (!usernameRegex.test(first_name)) {
				$('.first_name-error').html('Invalid first name format.');
				$('input[name="first_name"]').addClass('error-input');
				errorsFound = true;
			}
	
			if (!emailRegex.test(email)) {
				$('.email-error').html('Invalid email address.');
				$('input[name="email1"]').addClass('error-input');
				errorsFound = true;
			}
	
			if (!phoneRegex.test(phone)) {
				$('.phone-error').html('Invalid phone number.');
				$('input[name="phone1"]').addClass('error-input');
				errorsFound = true;
			}
	
			if (!passwordRegex.test(password)) {
				$('.password-error').html('Password should be at least 8 characters and contain at least one letter and one number.');
				$('input[name="password1"]').addClass('error-input');
				errorsFound = true;
			}
	
			if (confirm_password !== password) {
				$('.confirm-password-error').html('Passwords do not match.');
				$('input[name="confirm_password1"]').addClass('error-input');
				errorsFound = true;
			}
	
			// Check if any errors exist
			if (errorsFound) {
				// If errors exist, prevent form submission
				e.preventDefault();
			}
			// Form will automatically submit if there are no errors
		});
	});
	
	
</script>
</body>

<!-- Mirrored from caketheme.com/html/ruper/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Jul 2023 09:39:08 GMT -->
</html>
{% endblock content %}