{% extends 'userside/baseuser.html' %}
{% load static %}
{% block content1%} My Account {% endblock content1 %}

 {% block style %}
<style>
    .dataTables_info{
        font-size:11px!important;
    }

    my-account-wrap clearfix{
        margin-bottom: 20px; 
    }
        
    
</style>
{% endblock style %} 

{% block content %}



<div id="site-main" class="site-main">
    <div id="main-content" class="main-content">
        <div id="primary" class="content-area">
            <div id="title" class="page-title">
                <div class="section-container">
                    <div class="content-title-heading">
                        <h1 class="text-title-heading">
                            My Account
                        </h1>
                    </div>
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><span class="delimiter"></span>My Account
                    </div>
                </div>
            </div>

            <div id="content" class="site-content" role="main">
                <div class="section-padding">
                    <div class="section-container p-l-r">
                        <div class="page-my-account">
                            <div class="my-account-wrap clearfix">
                                <nav class="my-account-navigation">
                                    <h6>Referral id : {{user.referal_id}}</h6>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active"  data-toggle="tab" href="#account-details" role="tab">Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#orders" role="tab">Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#addresses" role="tab">Addresses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#change-password" role="tab">change Password</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'wallet' %}">Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="my-account-content tab-content">
                                    <div class="tab-pane fade show active" id="account-details" role="tabpanel">
                                        <div class="my-account-account-details">
                                            <form class="edit-account" action="{% url 'updateaccount' %}" method="post">
                                                {% csrf_token %}
                                                <p class="form-row">
                                                    <label for="account_first_name">First name <span class="required">*</span></label>
                                                    <input type="text" class="input-text" name="account_first_name" value="{{user.first_name}}">
                                                </p>
                                                <p class="form-row">
                                                    <label>Last name <span class="required">*</span></label>
                                                    <input type="text" class="input-text" name="account_last_name" value = "{{user.last_name}}">
                                                </p>
                                                <div class="clear"></div>
                                                    <p class="form-row">
                                                        <label>phone_number <span class="required">*</span></label>
                                                        <input type="text" class="input-text" name="new_phone_number" value="{{user.phone_number}}"> 
                                                    </p>
                                                <div class="clear"></div>
                                                <p class="form-row">
                                                    <label>Email address <span class="required">*</span></label>
                                                    <input type="email" class="input-text" name="account_email" value="{{user.email}}" disabled>
                                                </p>

                                                {% if messages %}
                                                    <div class=" alert text-danger" id='alert-message' >  
                                                    {% for message in messages %}
                                                        {{ message }}
                                                    {% endfor %}
                                                    </div>
                                                {% endif %}
 
                                                <input type="submit" value="Save changes" class="btn btn-dark mt-4">

                                            </form>
                                        </div>
                                    </div>
                                     <div class="tab-pane fade" id="orders" role="tabpanel">
                                            <table id="orders-table" class="display" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Product Image</th>
                                                        <th>Product</th>
                                                        <th>Price</th>
                                                        <th>Quantity</th>
                                                        <th>Total Price</th>
                                                        <th>Payment method</th>
                                                        <th>Order Status</th>
                                                        <th>Actions</th>  
                                                        <!-- Add more table headers here -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Table rows with data -->
                                                    {% for order in order_items %}
                                                    <tr>
                                                        <td><img src='{{order.product.image_set.last.image.url}}' height='100px'></td>
                                                        <td>{{order.product.products_name}}</td>
                                                        <td>{{order.product.price}}</td>
                                                        <td>{{order.quantity}}</td>
                                                        <td>{{order.total_item_amount}}</td>
                                                        <td>{{order.order.payment_method}}</td>
                                                        <td>
                                                            <span class="badge {% if order.status == "Cancelled" %}text-danger 
                                                            {% elif order.status == "Delivered" %} text-success 
                                                            {% elif order.status == "Order confirmed" %} text-warning 
                                                            {% else %}text-primary
                                                            {% endif %}">
                                                            {{order.status}}
                                                            <span>

                                                        </td>
                                                        <td>
                                                            {% if order.status == "Order confirmed" %}
                                                             <a href="#deleteAddress-{{forloop.counter}}" class="delete btn btn-sm btn-outline-danger" data-toggle="modal">Cancel Order<a>
                                                            {% else %}
                                                             <span class="badge {% if order.status == "Cancelled" %}text-danger{% else %}text-success{% endif %}">{{order.status}}<span>
                                                                {% endif %}
                                                        </td>        
                                                    </tr> 
                                                    {% endfor %}

                                                    {% for order in order_items %}
                                                    <div id="deleteAddress-{{forloop.counter}}" class="modal fade">
                                                      <div class="modal-dialog modal-dialog-centered">
                                                          <div class="modal-content">
                                                              <div class="modal-header">						
                                                                  <h4 class="modal-title">Cancel Order!</h4>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                              </div>
                                                              <div class="modal-body">					
                                                                  <p>Are you sure to Cancel this Order?</p>
                                                                  <p class="text-warning"><small>{{order.product.products_name}}</small></p>
                                                              </div>
                                                              <div class="modal-footer">
                                                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                                                  <a href="{% url 'cancel_order' order.id %}" type="submit" class="btn btn-danger">Cancel Order</a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                {% endfor %}
                                                    <!-- Repeat rows as needed -->
                                                </tbody>
                                            </table>
                                            
                                        
                                        </div> 
                                    
                                 
                                    <div class="tab-pane fade" id="addresses" role="tabpanel">
                                        <div class="my-account-addresses">
                                            <a href="{% url 'addaddress' %}"> <button class="btn btn-primary mb-4">Add Address</button></a>
                                            <div class="addresses">
                                                
                                                {% for address in address_data %}
                                                <div class="addresses-col"> 
                                                    <header class="col-title">
                                                        <h3>Address</h3>
                                                        <a href="../editaddress/{{address.id}}" class="edit">Edit</a>
                                                    </header>
                                                    <address>
                                                        {{address.name}}<br>
                                                        {{address.phone}}<br>
                                                        {{address.street_address}}<br>
                                                        {{address.city}}<br>
                                                        {{address.state}}<br>
                                                        {{address.pin_code}}<br>


                                                    </address>
                                                    <button class="btn btn-danger mt-3" onclick="confirmDelete(this)" user-address-id="{{address.id}}">Delete</button>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                 
                                    <div class="tab-pane fade" id="change-password" role="tabpanel">
                                        <div class="my-account-account-details">
                                            <form class="edit-account" action="{% url 'changepassword' %}" method="post">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <legend>Password change</legend>
                                                    <p class="form-row">
                                                        <label>Current password </label>
                                                        <input type="password" class="input-text" name="password_current" autocomplete="off">
                                                    </p>
                                                    <p class="form-row">
                                                        <label>New password </label>
                                                        <input type="password" class="input-text" name="new_password_1" autocomplete="off">
                                                    </p>
                                                    <p class="form-row">
                                                        <label>Confirm new password</label>
                                                        <input type="password" class="input-text" name="new_password_2" autocomplete="off">
                                                    </p>
                                                </fieldset>
                                                <div class="clear"></div>
                                           
                                                <p class="form-row">
                                                    <button type="submit" class="button" name="save_account_details" value="Save changes">Save changes</button>
                                                </p>
                                                <a href="{% url "myaccount" %}"><button type="button" class="btn btn-dark mt-4">Cancel</button></a>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #content -->
        </div><!-- #primary -->
    </div><!-- #main-content -->
</div>



{% block contentscript%}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function confirmDelete(button) {
     const itemId = button.getAttribute('user-address-id');
     Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#1d4289',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        // User confirmed the deletion, proceed with the AJAX request to remove the address
        const csrftoken = getCookie('csrftoken');
        fetch(`/deleteaddress/${itemId}`, {
          method: 'DELETE',
          headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/json',
          },
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error('Network response was not ok.');
            }
            return response.json();
          })
          .then((data) => {
            console.log('Address removed successfully.', data);
            location.reload(); // Reload the page
          })
          .catch((error) => {
            console.error('Error removing Address', error);
          });
      }
    });
  }
  
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }
    
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
  $(document).ready(function () {
    // Check if DataTable is already initialized on #orders-table
    if ($.fn.DataTable.isDataTable('#orders-table')) {
      // Destroy the existing DataTable instance
      $('#orders-table').DataTable().destroy();
    }

    // Initialize DataTable on #orders-table
    $('#orders-table').DataTable({
      paging: true,
      pageLength: 2,
      searching: true,
      lengthMenu: [2,5,7,15,20,25,50]
      // Add further configurations as needed
    });
  });
</script>

 {% endblock contentscript %}

{% endblock content %}

