{% extends 'adminside/baseadmin.html' %}
{% load static %}

{% block content%}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Add Product</strong>
        </div>
        <div class="card-body">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="product_name">Product Name</label>
                    <input type="text" class="form-control" id="product_name" name="product_name" required>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" name="category" required>
                        <option value="" disabled selected>Select a category</option>
                        {%for i in cat %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <select class="form-control" id="brand" name="brand" required>
                        <option value="" disabled selected>Select a brand</option>
                        {%for i in bran %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" name="price" required>
                </div>
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="text" class="form-control" id="stock" name="stock" required>
                </div>
                <div class="form-group">
                    <label for="product_image">Product Image</label>
                    <input type="file" class="form-control-file" id="product_image" name="product_image" accept="image/*" multiple>
                </div>

                <button type="submit" class="btn btn-primary">Add Product</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
