{% extends 'adminside/baseadmin.html' %}
{% load static %}
{% block content10 %}class='active'{%endblock%}
{% block content %}

<div class="col-md-12">
    
        <div class="card-body">
            <div class="mb-2">
                <a href="{% url "add_banner" %}" class="btn btn-primary">Add banner</a>
            </div>
            <table id="product-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for banner_image in banners %}
                    <tr>
                        <td>
                            {{banner_image.id}}</td>
                        </td>

                        <td>    
                            <img src="{{ banner_image.banner_image.url }}"  style="max-width: 100px; max-height: 100px;">
                        </td>
                        
                        <td>
                            <button class="btn btn-danger" onclick="confirmDelete('{{ banner_image.id }}')">Delete</button>
                        </td>     
                    </tr>
                  {% endfor %}

                </tbody
            </table>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    function confirmDelete(bannerId) {
        Swal.fire({
            title: 'Confirm Delete Offer',
            text: 'Are you sure you want to Delete this banner?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Deleted!',
                    text: 'The offer has been deleted.',
                    icon: 'success',
                    timer: 2000, // 2 seconds
                    timerProgressBar: true,
                    showConfirmButton: false
                }).then(() => {
                    // Redirect after the delay
                    window.location.href = "../../delete_banner/"+bannerId;
                });
            }
        });

    }
</script>
{% endblock content %}