{% extends 'adminside/baseadmin.html' %}
{% load static %}
{% block content6 %}class='active'{%endblock%}
{% block content %}

<div class="col-md-12">
    {% comment %} <div class="card"> {% endcomment %}
        {% comment %} <div class="card-header">
            <strong class="card-title">Data Table</strong>
        </div> {% endcomment %}
        <div class="card-body">
            <div class="mb-2">
                <a href="{% url 'addbrand' %}" class="btn btn-primary">Add Brand</a>
            </div>
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Brand Name</th>
                        <th>Status</th>
                        <th>Action</th>
                     

                    </tr>
                </thead>
                <tbody>
                    {% for brand in brands %}
                    <tr>
                        <td>{{ brand.id }}</td>
                        <td>{{ brand.name }}</td>
                        {% if brand.is_listed %}
                        <td>
                            <a href="../../brand_status/{{brand.id}}"><button class="badge badge-danger">Unlist</button></a>
                        </td>
                        {%else%}
                        <td>
                            <a href="../../brand_status/{{brand.id}}"><button class="badge badge-success">List</button></a>
                        </td>
                        {%endif%}
                        <td class='row'>
                            <form method="post" action="{% url 'deletebrand' id=brand.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger mr-1">Delete</button>
                            </form>
                      
                            <a href="../../editbrand/{{brand.id}}"><i class="fa fa-pencil ml-3"></i></a>

                        </td>   
                    </tr>                    

                    {% endfor %}

                 
                  
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}