{% extends 'adminside/baseadmin.html' %}
{% load static %}
{% block content4 %}class='active'{%endblock%}
{% block content%}

<div class="col-md-12">
    {% comment %} <div class="card"> {% endcomment %}
        {% comment %} <div class="card-header">
            <strong class="card-title">Data Table</strong>
        </div> {% endcomment %}
        <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>email</th>
                        <th>phone</th>
                        <th>date_of_join</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.first_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone_number}}</td>
                        <td>{{user.date_of_join}}</td>
                        {% if user.is_listed %}
                        <td>
                            <a href="../../user_status/{{user.id}}"><button class="badge badge-danger">Unlist</button></a>
                        </td>
                        {%else%}
                        <td>
                            <a href="../../user_status/{{user.id}}"><button class="badge badge-success">List</button></a>
                        </td>
                        {%endif%}
                    </tr>
                    {% endfor %}

                                     
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content%}