body {
    background-color: rgba(112, 74, 74, 0.491);
    color: white;
    height: 100vh; /* Set the body height to 100% of the viewport height */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0; /* Remove default body margin */
}
.login-container {
    max-width: 1300px; /* Adjust the maximum width */
    padding: 100px; /* Adjust the padding */
    background-color: rgba(65, 65, 59, 0.979);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}
.login-container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
}
/* Increase input field size */
.form-control {
    height: 40px; /* Set the height of input fields */
    font-size: 20px; /* Set the font size of input fields */
    
}

/* Increase login button size */
.btn {
    padding: 10px 20px; /* Adjust padding for the button */
    font-size: 18px; /* Set the font size of the button */
}
